name: CI

on: [push, pull_request]

jobs:

  test:
    runs-on: ${{ matrix.os }}
    name: test (${{ matrix.os }})
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
        build-type: [Release]
    env:
      DISPLAY: ":99.0"

    steps:
    - uses: actions/checkout@v4

    - name: Setup micromamba
      uses: mamba-org/setup-micromamba@v1
      with:
        micromamba-version: '1.5.7-0'
        environment-file: environment.yml
        init-shell: bash
        cache-environment: true
        post-cleanup: 'all'

    - if: runner.os == 'Linux'
      name: Setup xvfb (Linux)
      run: |
        sudo apt-get install -y xvfb libxkbcommon-x11-0 libxcb-icccm4 libxcb-image0 libxcb-keysyms1 libxcb-randr0 libxcb-render-util0 libxcb-xinerama0 libxcb-xinput0 libxcb-xfixes0 libxcb-shape0 libglib2.0-0 libgl1-mesa-dev
        sudo apt-get install '^libxcb.*-dev' libx11-xcb-dev libglu1-mesa-dev libxrender-dev libxi-dev libxkbcommon-dev libxkbcommon-x11-dev
        sudo /usr/bin/Xvfb $DISPLAY -screen 0 1280x1024x24 &

    - name: Install the package
      shell: micromamba-shell {0}
      run: |
        inv build --install

    - if: runner.os == 'Linux'
      name: Run the tests on Linux
      shell:  micromamba-shell {0}
      run: |
        pytest -v 
        
    - if: runner.os == 'macOS'
      name: Run the tests on macOS
      shell:  micromamba-shell {0}
      run: |
        pytest -v